.mdl-layout__header a {
  font-family: "Courgette", cursive;
}
.home-page {
  background: url('../images/bloom.jpg') center / cover;
}
.page-content {
  height: 100%;
}
.page-content .page-title-container {
  display: flex;
}
.page-content .page-title-container .page-title {
  opacity: 1;
  margin: 0 auto;
  font-size: 7rem;
  font-family: "Courgette", cursive;
}
.page-content .mdl-card {
  position: absolute;
  font-family: "Montserrat", sans-serif;
}
.page-content .mdl-card .mdl-card__title {
  height: 175px;
}
@media (max-width: 800px) {
  .page-content .mdl-card {
    display: none;
  }
}
.page-content .card-1 {
  top: 300px;
  left: 75px;
}
.page-content .card-1 .mdl-card__title {
  background: url('../images/adventure-clouds.jpg') center / cover;
}
.page-content .card-2 {
  top: 300px;
  right: 75px;
}
.page-content .card-2 .mdl-card__title {
  background: url('../images/adventure-flares.jpg') center / cover;
}
.page-content .img-container {
  display: flex;
}
.page-content .img-container img {
  margin: 20px auto;
  border-radius: 500px;
  height: 350px;
}
.page-content .login-button-container {
  display: flex;
}
.page-content .login-button-container .mdl-button {
  margin: 20px auto;
}
.mission-statement-container {
  font-family: "Courgette", cursive;
  height: 200px;
  width: 100%;
  padding: 10px;
  display: flex;
}
.mission-statement-container .mission-statement {
  margin: 0 auto;
  padding: 50px;
  font-size: 1.5rem;
  line-height: 40px;
}
.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}
.about-us-container .mdl-card {
  margin: 15px;
  width: 320px;
  height: 320px;
}
.about-us-container .mdl-card .mdl-card__title-kelli {
  color: #fff;
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UDQFCBAJ3-ef737bf29932-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-ricardo {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJYULR9C5-aaba271d7a30-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-chris {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UFVUEC918-1fdf146ec13a-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-miguel {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJ4L81Y69-55d9838442c8-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-tyler {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UG05X4P9R-5fba4cc95dcc-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-giselle {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJ4JRH9FS-5252c4345ac9-512') center / cover;
}
.contact-page {
  display: flex;
}
.contact-page .form-container {
  display: flex;
  margin: 50px auto;
}
.contact-page .form-container .message-input {
  display: block;
  margin: 0 auto;
}
