.mdl-layout__header-row .mdl-navigation__link {
  color: #C14953;
}
.mdl-layout__header a {
  font-family: "Courgette", cursive;
}
.page-content {
  height: 100%;
}
.page-content .intro-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #E3E4E6;
}
.page-content .intro-section .page-title-container {
  display: flex;
  padding-top: 100px;
}
.page-content .intro-section .page-title-container .page-title {
  opacity: 0;
  margin: 0 auto;
  font-size: 7rem;
  font-family: "Courgette", cursive;
}
.page-content .intro-section .scroll-button {
  position: absolute;
  right: 150px;
  bottom: -25px;
}
.page-content .features-container {
  background: url('../images/bloom.jpg') center / cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  margin: 50px 0;
}
.page-content .features-container .mdl-card {
  font-family: "Montserrat", sans-serif;
  height: 350px;
  margin: 25px;
}
.page-content .features-container .mdl-card .mdl-card__title {
  height: 175px;
}
@media (max-width: 800px) {
  .page-content .features-container .mdl-card {
    display: none;
  }
}
.page-content .features-container .card-1 .mdl-card__title {
  background: url('../images/adventure-clouds.jpg') center / cover;
}
.page-content .features-container .card-2 .mdl-card__title {
  background: url('../images/adventure-flares.jpg') center / cover;
}
.page-content .img-container {
  background-repeat: no-repeat;
  display: flex;
}
.page-content .img-container img {
  margin: 20px auto;
  border-radius: 500px;
  height: 450px;
}
.page-content .login-button-container {
  display: flex;
}
.page-content .login-button-container .mdl-button {
  margin: 20px auto;
}
.mission-statement-container {
  font-family: "Courgette", cursive;
  height: 200px;
  width: 100%;
  padding: 10px;
  display: flex;
  margin-bottom: 35px;
}
@media (max-width: 800px) {
  .mission-statement-container {
    height: 100px;
    margin-bottom: 60px;
  }
}
.mission-statement-container .mission-statement {
  margin: 0 auto;
  padding: 50px;
  font-size: 1.5rem;
  line-height: 40px;
  color: #C14953;
}
@media (max-width: 800px) {
  .mission-statement-container .mission-statement {
    font-size: 0.8rem;
    line-height: 20px;
  }
}
.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}
.about-us-container .mdl-card {
  margin: 15px;
  width: 320px;
  height: 500px;
}
.about-us-container .mdl-card .mdl-card__title-kelli {
  color: #fff;
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UDQFCBAJ3-ef737bf29932-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-ricardo {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJYULR9C5-aaba271d7a30-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-chris {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UFVUEC918-1fdf146ec13a-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-miguel {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJ4L81Y69-55d9838442c8-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-tyler {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UG05X4P9R-5fba4cc95dcc-512') center / cover;
}
.about-us-container .mdl-card .mdl-card__title-giselle {
  background: url('https://ca.slack-edge.com/T4JUEB3ME-UJ4JRH9FS-5252c4345ac9-512') center / cover;
}
.contact-page {
  display: flex;
}
.contact-page .form-container {
  display: flex;
  margin: 50px auto;
}
.contact-page .form-container .message-input {
  display: block;
  margin: 0 auto;
}
