// Contact Page stylesheet
.contact-page {
  display: flex;
  background: url('../images/contact-back.jpg') center / cover;

  form {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  .form-container {
    background-color: @off-white;
    border-radius: 10px;
    display: flex;
    margin: 50px auto;
    height: 300px;
    width: 300px;
    padding: 50px;

    .message-input {
      display: block;
      margin: 0 auto;
    }
  }

  .send-button {
    margin: 0 auto;
  }
}
