// Contact Page stylesheet
.contact-page {
  display: flex;
  background: url('../images/activity-background.jpg') center / cover;

  form {
    font-weight: 700;
  }

  .form-container {
    display: flex;
    margin: 50px auto;

    .message-input {
      display: block;
      margin: 0 auto;
    }
  }
}
