@import "./variables.less";
@import "./home.less";
@import "./contact.less";
@import "./about-us.less";


// Styles for all pages
.mdl-layout__header-row .mdl-navigation__link {
  color: @header-blue;
}

.mdl-layout__header {
  .logo-header-img {
    height: 70px;

    @media @mobile {
      margin-left: 35%;
    }
  }

  a {
    font-family: "Courgette", cursive;
  }
}
