@import "./variables.less";
@import "./home.less";
@import "./contact.less";
@import "./about-us.less";


// Styles for all pages
.mdl-layout__header-row .mdl-navigation__link {
  color: @header-blue;
}

.mdl-layout__header {

  @media @mobile {
    height: 100px;
  }

  .logo-header-img {
    height: 70px;

    @media @mobile {
      margin: 35px 45% 0 45%;
    }
  }

  .mdl-layout__drawer-button {
      margin: 20px 4px;
      left: 20px;
  }

  a {
    font-family: "Courgette", cursive;
  }
}

.mdl-layout__drawer {
  width: 350px;
  transform: translateX(-350px);
}

.mdl-layout-title {
  font-family: "Courgette", cursive;
  color: @material-red;
  font-size: 50px;
  margin: 50px 0 0 28px;

}

.mdl-navigation__link {
  padding: 40px !important;
  font-size: 20px;
  font-weight: 600;
}
